.contact__block {
    border: 5px #18b9d4 solid;
    width: 400px;
    height: 350px;
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
}
.active__contact {
    display: inline-block;
}
.contact__infoblock {
    display: flex;
    justify-content: center;

}
.contact__infoblock img {
    margin-top: 10px;
    margin-right: 10px;
    width: 42px;
    height: 42px;
}
.span__bold {
    font-weight: bold;
    color: #0E4094;
}
.contact__us {
    color: #0E4094;
}