.card {
    height: 705px;
    margin-left: 15%;
    width: 70%;
    padding: 30px 90px 90px 90px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
}

.card h2 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

.card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
}

.card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
}

.card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
    position: absolute;
    width: 90%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50px;
}
.label-form {
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    margin: 0 0 0 30px;
    line-height: 40px;
}
.input {
    pointer-events: all;
}
.selected__gods {
    transform: translateY(-100px);
}
.card .row .form-group {
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
}

.row .col:nth-child(6) {
    margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
}

.card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
}

@media screen and (max-width: 900px) {
    .card .row {
        grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }

    .card {
        padding: 20px;
    }

    .card h2 {
        font-size: 34px;
    }

    .card .row input[type="submit"] {
        width: 100%;
    }
}
.h2__order {
    line-height: 0px;
}

.toHome__Button1 {
    background: white;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    transform: translate(-7px, -18px);
    cursor: pointer;
    position: absolute;
    right: 20px;
}
textarea {
    resize: none;
}