* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1__goods__name {
    margin: 30px 0 20px;
}

.items__title__content {
    margin: 20px;
}
.boldHar {
    font-weight: bold;
}
.photo{
    max-width: 500px;
    max-height: 400px;
    width: 80%;
    height: 80%;
    margin-bottom: 30px;

}

/*.container {*/
/*    margin: 0 auto;*/
/*    width: 1110px;*/
/*}*/

.goods__name {
    text-align: center;
}

.items__title__block {
    display: flex;
    justify-content: center;
}

/*.mini__photo {*/
/*    border: 1px solid blueviolet;*/
/*}*/

.bye__in__momemt{
    margin-left: 10px;
}

.mini__photo__img {
    max-width: 200px;
    max-height: 90px;
    cursor: pointer;
    transition: transform .5s ease;
    border: 1px blue solid;
    margin-left: 10px;
    margin-bottom: 35px;
    padding: 2px;
}
.harakteristics {
    font-weight: bold;
    font-size: 20px;
}
.mini__photo__img:hover {
    border: #0E4094 2px solid;
}


.mini__photos {
    display: flex;
}

.content {
    min-height: 1000px;
    display: flex;
}
.content_cart {
    display: flex;
}
.content_goods {
    display: flex;
}
.quantity {
    display: flex;
}

.bye {
    display: flex;
    color: goldenrod;
}

.little__title__of__goods {
    font-weight: bold;
    font-size: 15px;
    color: #0E4094;
    max-width: 600px;
}
.info__block {
    margin-left: 40px;
}
.star__rating {
    margin-top: 30px;
}
.bold {
    font-weight: bold;
    display: inline;
    font-size: 20px;
}
.margin10px {
    margin: 10px;
}
.toHome {
    text-align: right;
}
.toHome__Button {
    width: 32px;
    height: 32px;
    transform: translate(22px, -40px);
    cursor: pointer;
    position: absolute;
    right: 75px;
}
.items__title__content {
    font-size: 17px;
    font-weight: bold;
    color: #18b9d4;
}
.mh {
    max-height: 780px;
}
.summ {
    font-size: 28px;
}
.priceStyles {
    display: inline;
    color: #b4226b;
}
.items__title__content:hover {
    color: #0E4094;
    cursor: pointer;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.in__stock {
    position: absolute;
    width: 90px;
    height: 50px;
    z-index: 1;
}
.in__stock2 {
    position: absolute;
    width: 80px;
    height: 55px;
    z-index: 1;
}
@media screen and (max-width: 1050px) {
    .content {
        min-height: 500px;
    }
}
@media screen and (max-width: 960px) {
    .content {
        min-height: 800px;
        flex-direction: column;
        height: 1100px;
    }
    .mh {
        max-height: 100%;
    }
    .mini__photos {
        justify-content: space-around;
    }
}
@media screen and (max-width: 620px) {
    .mini__photos {
        flex-wrap: wrap;
    }
}